[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/soumitragoswami-eee48
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/soumitragoswami-eee48
	label-Verified = -1..+1 group user/soumitragoswami-eee48
	push = group user/soumitragoswami-eee48
	read = group user/soumitragoswami-eee48
	rebase = group user/soumitragoswami-eee48
	removeReviewer = group user/soumitragoswami-eee48
	submit = group user/soumitragoswami-eee48
[access "refs/heads/*"]
	create = group user/soumitragoswami-eee48
	push = +force group user/soumitragoswami-eee48
	pushMerge = group user/soumitragoswami-eee48
	read = group user/soumitragoswami-eee48
[access "refs/tags/*"]
	push = group user/soumitragoswami-eee48
	push = +force group user/soumitragoswami-eee48
